<br />
<div class='container'>
  <div class="card">
    <h5 class="card-header">Featured</h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <div class="card-text">
        <form class="form-horizontal" novalidate (ngSubmit)="save()" [formGroup]="produitForm">
          <div class="form-group row">
            <label for="nomProduitId" class="col-md-2 col-form-label text-right">Nom du produit : </label>
            <div class="col-sm-10">
              <input class="form-control" id="nomProduitId" type="text" placeholder="Nom du produit (obligatoire)" formControlName="nomProduit"
                [ngClass]="{'is-invalid': (produitForm.get('nomProduit').touched ||
              produitForm.get('nomProduit').dirty) &&
              !produitForm.get('nomProduit').valid,
              'is-valid': (produitForm.get('nomProduit').touched ||
              produitForm.get('nomProduit').dirty) &&
              produitForm.get('nomProduit').valid }" />
              <span class="form-text" *ngIf="(produitForm.get('nomProduit').touched ||
                    produitForm.get('nomProduit').dirty) &&
                    produitForm.get('nomProduit').errors">
                <span *ngIf="produitForm.get('nomProduit').errors.minlength">
                  <small class="text-muted">
                    Indiquez au moins 5 caractères.
                  </small>
                </span>
              </span>
            </div>
          </div>
          <!-- Zone QUANTITE -->
          <div class="form-group row">
            <label for="quantiteId" class="col-md-2 col-form-label text-right">Quantité :</label>
            <div class="col-md-10">
              <input class="form-control" id="quantiteId" type="text" placeholder="Quantité" formControlName="quantite" [ngClass]="{'is-valid': (produitForm.get('quantite').touched ||
                    produitForm.get('quantite').dirty) &&
                    produitForm.get('quantite').errors.plage ,
                    'is-invalid': (produitForm.get('quantite').touched ||
                    produitForm.get('quantite').dirty) &&
                    !produitForm.get('quantite').errors.plage}" />
              <span class="form-text" *ngIf="(produitForm.get('quantite').touched ||
                produitForm.get('quantite').dirty) &&
                produitForm.get('quantite').errors">
                <span *ngIf="!produitForm.get('quantite').errors.plage">
                  <small class="text-muted">
                    Tapez un chiffre entre 1 et 5.
                  </small>
                </span>
              </span>
            </div>
          </div>
          <div class="form-group row">
            <label for="noCategorieId" class="col-sm-2 col-form-label text-right">Catégorie :</label>
            <div class="col-sm-10">
              <select class="form-control"
                id="noCategorieId"
                formControlName="noCategorie">
                  <option value="">Sélectionnez une catégorie de produit</option>
                  <option value="1">Dessert</option>
                  <option value="2">Charcuteries</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>