<br />
<div class='container'>
  <div class="card">
    <h5 class="card-header">Déclarer un foutu problème</h5>
    <div class="card-body">
      <h5 class="card-title">Identification de l'utilisateur et du problème</h5>
      <div class="card-text">
        <form class="form-horizontal" novalidate (ngSubmit)="save()" [formGroup]="problemeForm">
          <div class="form-group row">
            <label for="prenomUtilisateur" class="col-md-2 col-form-label text-right">Prénom : </label>
            <div class="col-sm-10">
              <input class="form-control" id="prenomUtilisateur" type="text" placeholder="Votre prénom (obligatoire)" formControlName="prenomUtilisateur"
                [ngClass]="{'is-invalid': (problemeForm.get('prenomUtilisateur').touched ||
              problemeForm.get('prenomUtilisateur').dirty) &&
              !problemeForm.get('prenomUtilisateur').errors.valide,
              'is-valid': (problemeForm.get('prenomUtilisateur').touched ||
              problemeForm.get('prenomUtilisateur').dirty) &&
              problemeForm.get('prenomUtilisateur').errors.valide }" />

              <span class="form-text" *ngIf="(problemeForm.get('prenomUtilisateur').touched ||
                    problemeForm.get('prenomUtilisateur').dirty) &&
                    problemeForm.get('prenomUtilisateur').errors">
                <span *ngIf="!problemeForm.get('prenomUtilisateur').errors.valide">
                  <small class="text-muted">Indiquez au moins 3 caractères.</small>
                </span>
              </span>
            </div>
          </div>
          <div class="form-group row">
            <label for="nomUtilisateur" class="col-md-2 col-form-label text-right">Nom : </label>
            <div class="col-sm-10">
              <input class="form-control" id="nomUtilisateur" type="text" placeholder="Votre nom (obligatoire)" formControlName="nomUtilisateur"
                [ngClass]="{'is-invalid': (problemeForm.get('nomUtilisateur').touched ||
              problemeForm.get('nomUtilisateur').dirty) &&
              !problemeForm.get('nomUtilisateur').errors.valide,
              'is-valid': (problemeForm.get('nomUtilisateur').touched ||
              problemeForm.get('nomUtilisateur').dirty) &&
              problemeForm.get('nomUtilisateur').errors.valide }" />

              <span class="form-text" *ngIf="(problemeForm.get('nomUtilisateur').touched ||
                    problemeForm.get('nomUtilisateur').dirty) &&
                    problemeForm.get('nomUtilisateur').errors">
                <span *ngIf="!problemeForm.get('nomUtilisateur').errors.valide">
                  <small class="text-muted">Indiquez au moins 3 caractères.</small>
                </span>
              </span>
            </div>
          </div>
          <div class="form-group row">
            <label for="typeProblemeId" class="col-sm-2 col-form-label text-right">Type de problème :</label>
            <div class="col-sm-10">
              <select class="form-control" id="typeProblemeId" formControlName="noProbleme">
                <option value="">Sélectionnez un type de problème (obligatoire) ...</option>
                <option *ngFor="let probleme of typesProblemes" [value]="probleme.id">{{probleme.descriptionTypeProbleme}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <legend class="col-md-2 col-form-label text-right">Notifications :</legend>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="nePasNotifier" value="NePasNotifier">
              <label class="form-check-label" for="nePasNotifier">Ne pas me notifier</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="parCourriel" value="ParCourriel">
              <label class="form-check-label" for="parCourriel">Par courriel</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="parSMS" value="ParCourriel">
              <label class="form-check-label" for="parSMS">Par SMS</label>
            </div>
          </div>
          <div class="form-group row">
            <label for="courriel" class="col-sm-2 col-form-label text-right">Courriel :</label>
            <div class="col-sm-10" formGroupName="courrielGroup">
              <input type="email" class="form-control" id="courriel" aria-describedby="emailHelp" placeholder="Entrez votre courriel" [ngClass]="{'is-invalid': (problemeForm.get('courrielGroup.courriel').touched ||
              problemeForm.get('courrielGroup.courriel').dirty) &&
              problemeForm.get('courrielGroup.courriel').errors,
              'is-valid': (problemeForm.get('courrielGroup.courriel').touched ||
              problemeForm.get('courrielGroup.courriel').dirty) &&
              !problemeForm.get('courrielGroup.courriel').errors }" />
              <span class="form-text" *ngIf="(problemeForm.get('courrielGroup.courriel').touched ||
              problemeForm.get('courrielGroup.courriel').dirty) &&
              problemeForm.get('courrielGroup.courriel').errors">
                <span *ngIf="problemeForm.get('courrielGroup.courriel').errors.email">
                  <small id="emailHelp" class="form-text text-muted">Veuillez entrer votre adresse courriel.</small>
                </span>
                <span *ngIf="problemeForm.get('courrielGroup.courriel').errors.required">
                  <small class="text-muted">Veuillez entrer un courriel valide.</small>
                </span>
              </span>
            </div>
          </div>
          <div class="form-group row">
            <label for="validerCourriel" class="col-sm-2 col-form-label text-right">Confirmation :</label>
            <div class="col-md-10" formGroupName="courrielGroup">
              <input type="email" class="form-control" id="validerCourriel" placeholder="Veuillez entrer encore votre courriel"
                formControlName="validerCourriel" [ngClass]="{'is-invalid': (problemeForm.get('courrielGroup.validerCourriel').touched ||
                problemeForm.get('courrielGroup.validerCourriel').dirty) &&
                !problemeForm.get('courrielGroup.validerCourriel').valid || problemeForm.get('courrielGroup').errors?.courrielConfirmation,
                'is-valid': (problemeForm.get('courrielGroup.validerCourriel').touched ||
                problemeForm.get('courrielGroup.validerCourriel').dirty) &&
                problemeForm.get('courrielGroup.validerCourriel').valid }" />
              <span class="form-text" *ngIf="(problemeForm.get('courrielGroup.validerCourriel').touched ||
                problemeForm.get('courrielGroup.validerCourriel').dirty) &&
                problemeForm.get('courrielGroup.validerCourriel').errors || problemeForm.get('courrielGroup').errors">
                <span *ngIf="problemeForm.get('courrielGroup.validerCourriel').errors?.email">
                  <small class="text-muted">
                    Veuillez entrez un courriel au format valide.
                  </small>
                </span>
                <span *ngIf="problemeForm.get('courrielGroup.validerCourriel').errors?.required">
                  <small class="text-muted">Veuillez entrer votre adresse courriel.</small>
                </span>
                <span *ngIf="problemeForm.get('courrielGroup').errors?.courrielConfirmation">
                  <small class="text-muted">Veuillez entrez le même courriel.</small>
                </span>
              </span>
            </div>
          </div>
          <div class="form-group row">
              <label for="cellulaire" class="col-sm-2 col-form-label text-right">Cellulaire :</label>
              <div class="col-md-10">
                <input type="text" 
                class="form-control" 
                id="telephoneId" 
                placeholder="Entrez votre numéro de téléphone cellulaire." 
                formControlName="cellulaire"
                [ngClass]="{'is-invalid': (problemeForm.get('cellulaire').touched ||
                problemeForm.get('cellulaire').dirty) &&
                problemeForm.get('cellulaire').errors
                 ,
                'is-valid': (problemeForm.get('cellulaire').touched ||
                problemeForm.get('cellulaire').dirty) &&
                !problemeForm.get('cellulaire').errors }"
                />
                  <span class ="form-text" *ngIf="(problemeForm.get('cellulaire').touched ||
                    problemeForm.get('cellulaire').dirty) &&
                    problemeForm.get('cellulaire').errors">       
                      <span *ngIf="problemeForm.get('cellulaire').errors.minlength">
                        <small class="text-muted">Votre numéro est trop court.</small>
                    </span>
                      <span *ngIf="problemeForm.get('cellulaire').errors.maxlength">
                        <small class="text-muted">On n'est pas en Europe ici, veuillez enlever quelques chiffres.</small>
                      </span>
                      <span *ngIf="problemeForm.get('cellulaire').errors.pattern">
                        <small class="text-muted">Veuillez n'entrer que des chiffres.</small>
                      </span>
                      <span *ngIf="problemeForm.get('cellulaire').errors.required">
                        <small class="text-muted">Veuillez entrez un téléphone valide.</small>
                      </span>
                  </span>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>