<br />
<div class='container'>
  <div class="card">
    <h5 class="card-header">Déclarer un foutu problème</h5>
    <div class="card-body">
      <h5 class="card-title">Identification de l'utilisateur et du problème</h5>
      <div class="card-text">
        <form class="form-horizontal" novalidate (ngSubmit)="save()" [formGroup]="problemeForm">
          <div class="form-group row">
            <label for="prenomUtilisateur" class="col-md-2 col-form-label text-right">Prénom : </label>
            <div class="col-sm-10">
              <input class="form-control" id="prenomUtilisateur" type="text" placeholder="Votre prénom (obligatoire)" formControlName="prenomUtilisateur"
                [ngClass]="{'is-invalid': (problemeForm.get('prenomUtilisateur').touched ||
              problemeForm.get('prenomUtilisateur').dirty) &&
              !problemeForm.get('prenomUtilisateur').valid,
              'is-valid': (problemeForm.get('prenomUtilisateur').touched ||
              problemeForm.get('prenomUtilisateur').dirty) &&
              problemeForm.get('prenomUtilisateur').valid }" />
              <span class="form-text" *ngIf="(problemeForm.get('prenomUtilisateur').touched ||
                    problemeForm.get('prenomUtilisateur').dirty) &&
                    problemeForm.get('prenomUtilisateur').errors">
                <span *ngIf="problemeForm.get('prenomUtilisateur').errors.minlength">
                  <small class="text-muted">
                    Indiquez au moins 3 caractères.
                  </small>
                </span>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>